// Shadows
$Shadow:0 0.5rem 0.75rem rgba(0,0,0,0.16);

//Colours
$Midnight: #253648;
$Gallery: #F7F7F8;
$CTA: #0F81A3;
$CTA-hover: #66AEC5;
$Green-pill-text: #15693B;
$Green-pill-background: #DDF9EA;
$Orange-pill-text: #764C25;
$Orange-pill-background: #FDEFE2;
$Gray-pill-background: #EEEFF1;

//Font weights
$Font-weight-normal: normal;
$Font-weight-bold: bold;

//Font sizes
$Font-size-small: 20px;
$Font-size-medium: 16px;
$Font-size-large: 14px;
$Font-size-xlarge: 12px;

// Border radii 
$Border-radius-small: 4px;
$Border-radius-medium: 8px;

// Spacing
$Spacing-small: 4px;
$Spacing-medium: 8px;
$Spacing-large: 10px;
$Spacing-xlarge: 16px;
$Spacing-xxlarge: 24px;